@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-right">
            <li class="fh5co-link" style="list-style:none;">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li style="list-style:none;"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-right">
        <li class="col-md-6 col-sm-6 text-left fh5co-link" style="list-style:none;">@Html.ActionLink("Register", "Register", "Account", new { area = "" }, null)</li>
        <li class="col-md-6 col-sm-6 text-left fh5co-link" style="list-style:none;">@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, null)</li>
    </ul>
}


